<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
    form :where(input, select) {
        width: 100%;
        outline: none;
        display: block;
        color: #6E7684;
        font-size: 16px;
        padding: 0px 20px;
        border-radius: 4px;
        background-color: #ffffff; 
        border: 1px solid #D8D8D8;
        transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        height: 50px;
        box-shadow: 0 5px 5px 0 #0000000d !important;
    } 
    .similar_list form,
    .main-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 100%;
    }
    
    .form-group label {
        font-weight: 600;
        font-size: 16px;
        font-family: poppins;
    }
    label[for="car_id"] {
    display: none;
} 
.main-wrapper {
    margin-bottom: 70px;
}
h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin: 20px 0;
    border-left: 5px solid #2563eb;
    padding-left: 20px;
}
.similar_list, .main-wrapper {
    padding: 40px;
    border-radius: 15px;
    background: url('http://futureshapers.co.in/wp-content/uploads/2022/11/pattern.jpg');
    background-size: contain;
    background-position: center;
    box-shadow: 0px 6px 10px rgb(0 0 0 / 10%);
    border: 1px solid #f7f7f7;
}
.nav-cstm {
    margin: 40px 0;
}
.nav-cstm a{
    background: #000;color: #fff;
    text-decoration: none;margin-left: 0;transition: 0.3 ease all;
}
.nav-cstm a:hover{
  background: #2563eb;
}
.similar_list form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    width: 100%;
    justify-self: stretch;
}
.similar_list {
    display: flex;
} 

.similar_list form:not(:nth-child(3)) {
    border-right: 1px solid #ddd;
    padding-right: 40px;
    margin-right: 40px;
}

 
</style>
<%= form_with(model: car, class: "contents",id: "create_form") do |form| %>
    <% if car.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
            <ul>
                <% car.errors.each do |error| %>
                    <li>
                        <%= error.full_message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

            <div class="main-wrapper">
                <div class="form-group">
                    <%= form.label :name %>
                        <%= form.text_field :name, id: "name", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
                        <span class="text-red-500">*</span>
                </div>

                <div class="form-group">
                    <%= form.label :phone %><span class="text-red-500">*</span>
                        <%= form.text_field :phone,id: "phone", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter phone number" %>
                </div>
                <div class="form-group">
                    <%= form.label :year %><span class="text-red-500">*</span>
                        <%= form.text_field :year,id: "year", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter year" %>
                </div>
                <div class="form-group">
                    <%= form.label :make %><span class="text-red-500">*</span>
                        <%= form.text_field :make,id: "make", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter make" %>
                </div>
                <div class="form-group">
                    <%= form.label :model %><span class="text-red-500">*</span>
                        <%= form.text_field :model,id: "model", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter model" %>
                </div>
                <div class="form-group">
                    <%= form.label :body %><span class="text-red-500">*</span>
                        <%= form.select :body,  ['Sedan', 'Coupe','Convertible','SUV',"Pick-Up","Mini-Van"], class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter body",id: "body"%>
                </div>
              
                <div class="form-group">
                    <%= form.label :vin %><span class="text-red-500">*</span>
                        <%= form.text_field :vin,id: "vin", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" ,placeholder: "Enter vin"%>
                </div>
                <div class="form-group">
                    <%= form.label :miles %><span class="text-red-500">*</span>
                        <%= form.text_field :miles,id: "miles", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter miles" %>
                </div>
                <div class="form-group">
                    <%= form.label :zipcode %><span class="text-red-500">*</span>
                        <%= form.text_field :zipcode,id: "zipcode", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter zipcode" %>
                </div>
      
               










                <div class="form-group">
                <%= form.label :email_inq,'email enquiries' %><span class="text-red-500">*</span>
                    <%= form.text_field :email_inq,id: "email_inq", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" ,placeholder: "Enter email_inq" %>
            </div>


            <div class="form-group">
            <%= form.label :phone_inq,'phone enquiries' %><span class="text-red-500">*</span>
                <%= form.text_field :phone_inq,id: "phone_inq", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" ,placeholder: "Enter phone_inq" %>
           </div>



        <div class="form-group">
        <%= form.label :listing_save,'listing save' %><span class="text-red-500">*</span>
            <%= form.text_field :listing_save,id: "listing_save", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" ,placeholder: "Enter listing_save" %>
       </div>



    <div class="form-group">
    <%= form.label :listing_view,'listing view' %><span class="text-red-500">*</span>
        <%= form.text_field :listing_view,id: "listing_view", class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" ,placeholder: "Enter listing_view" %>
    </div>
















               <!--  <div class="inline">
                <%= form.submit "Create" ,id: "create_form_button",class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
            </div> -->
        <% end %>


            </div>
           
            
            



            <div class="similar_wrap">
            <h2>offer </h2>
            <div class="similar_list">
                <%= form_with url: "/cars/#{params[:car_id]}/car_compares",id: "offer1", method: :post do |form| %>
                    <input type="hidden" value="<%=@car.offer[0].id %>" id="car_compares_id" />    
                    <div class="form-group">
                        <%= form.label :days,'Name' %><span class="text-red-500">*</span>
                        <%= form.text_field :days,id:"days",value: @car.offer[0].name, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :price,'Offer amount' %><span class="text-red-500">*</span>
                        <%= form.text_field :price,id:"price",value: @car.offer[0].amount, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter Offer amount" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :Mileage,'Date' %><span class="text-red-500">*</span>
                        <%= form.date_field :Mileage,id:"Mileage",value: @car.offer[0].date,  class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter date" %>
                    </div>
                  
                    <div class="form-group">
                        <%= form.label :car_id %>
                            <%= form.hidden_field :car_id, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: params[:car_id], disabled: true %>
                    </div>
                <% end %>
                <%= form_with url: "/cars/#{params[:car_id]}/car_compares",id: "offer2", method: :post do |form| %>
                    <input type="hidden" value="<%=@car.offer[1].id %>" id="car_compares_id" />    

                    <div class="form-group">
                        <%= form.label :days,'Name' %><span class="text-red-500">*</span>
                            <%= form.text_field :days,id:"days",value: @car.offer[1].name, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :price,'Offer amount' %><span class="text-red-500">*</span>
                            <%= form.text_field :price,id:"price",value: @car.offer[1].amount, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter Offer amount" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :Mileage,'Date' %><span class="text-red-500">*</span>
                            <%= form.date_field :Mileage,id:"Mileage",value: @car.offer[1].date, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter date"  %>
                    </div>
                    
                    <div class="form-group">
                        <%= form.label :car_id %>
                            <%= form.hidden_field :car_id, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: params[:car_id], disabled: true %>
                    </div>
                <% end %>
                                
                <%= form_with url: "/cars/#{params[:car_id]}/car_compares",id: "offer3", method: :post do |form| %>
                    <input type="hidden" value="<%=@car.offer[2].id %>" id="car_compares_id" />    
                    <div class="form-group">
                        <%= form.label :days,'Name' %><span class="text-red-500">*</span>
                        <%= form.text_field :days,id:"days",value: @car.offer[2].name, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :price,'Offer amount' %><span class="text-red-500">*</span>
                            <%= form.text_field :price,id:"price",value: @car.offer[2].amount, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter Offer amount" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :Mileage,'Date' %><span class="text-red-500">*</span>
                            <%= form.date_field :Mileage,id:"Mileage",value: @car.offer[2].date, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter date"  %>
                    </div>

                    <div class="form-group hidden_field">
                        <%= form.label :car_id %>
                        <%= form.hidden_field :car_id, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: params[:car_id], disabled: true %>
                    </div>
                    
                <% end %>
















                <%= form_with url: "/cars/#{params[:car_id]}/car_compares",id: "offer4", method: :post do |form| %>
                    <input type="hidden" value="<%=@car.offer[2].id %>" id="car_compares_id" />    
                    <div class="form-group">
                        <%= form.label :days,'Name' %><span class="text-red-500">*</span>
                        <%= form.text_field :days,id:"days",value: @car.offer[3].name, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :price,'Offer amount' %><span class="text-red-500">*</span>
                            <%= form.text_field :price,id:"price",value: @car.offer[3].amount, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter Offer amount" %>
                    </div>
                    <div class="form-group">
                        <%= form.label :Mileage,'Date' %><span class="text-red-500">*</span>
                            <%= form.date_field :Mileage,id:"Mileage",value: @car.offer[3].date, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter date"  %>
                    </div>

                    <div class="form-group hidden_field">
                        <%= form.label :car_id %>
                        <%= form.hidden_field :car_id, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: params[:car_id], disabled: true %>
                    </div>
                    
                <% end %>





                <%= form_with url: "/cars/#{params[:car_id]}/car_compares",id: "offer5", method: :post do |form| %>
                <input type="hidden" value="<%=@car.offer[2].id %>" id="car_compares_id" />    
                <div class="form-group">
                    <%= form.label :days,'Name' %><span class="text-red-500">*</span>
                    <%= form.text_field :days,id:"days",value: @car.offer[4].name, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
                </div>
                <div class="form-group">
                    <%= form.label :price,'Offer amount' %><span class="text-red-500">*</span>
                        <%= form.text_field :price,id:"price",value: @car.offer[4].amount, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter Offer amount" %>
                </div>
                <div class="form-group">
                    <%= form.label :Mileage,'Date' %><span class="text-red-500">*</span>
                        <%= form.date_field :Mileage,id:"Mileage",value: @car.offer[4].date, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter date"  %>
                </div>

                <div class="form-group hidden_field">
                    <%= form.label :car_id %>
                    <%= form.hidden_field :car_id, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: params[:car_id], disabled: true %>
                </div>
                
            <% end %>


            <%= form_with url: "/cars/#{params[:car_id]}/car_compares",id: "offer6", method: :post do |form| %>
            <input type="hidden" value="<%=@car.offer[2].id %>" id="car_compares_id" />    
            <div class="form-group">
                <%= form.label :days,'Name' %><span class="text-red-500">*</span>
                <%= form.text_field :days,id:"days",value: @car.offer[5].name, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
            </div>
            <div class="form-group">
                <%= form.label :price,'Offer amount' %><span class="text-red-500">*</span>
                    <%= form.text_field :price,id:"price",value: @car.offer[5].amount, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter Offer amount" %>
            </div>
            <div class="form-group">
                <%= form.label :Mileage,'Date' %><span class="text-red-500">*</span>
                    <%= form.date_field :Mileage,id:"Mileage",value: @car.offer[5].date, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter date"  %>
            </div>

            <div class="form-group hidden_field">
                <%= form.label :car_id %>
                <%= form.hidden_field :car_id, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: params[:car_id], disabled: true %>
            </div>
            
        <% end %>


        <%= form_with url: "/cars/#{params[:car_id]}/car_compares",id: "offer7", method: :post do |form| %>
        <input type="hidden" value="<%=@car.offer[2].id %>" id="car_compares_id" />    
        <div class="form-group">
            <%= form.label :days,'Name' %><span class="text-red-500">*</span>
            <%= form.text_field :days,id:"days",value: @car.offer[6].name, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter name" %>
        </div>
        <div class="form-group">
            <%= form.label :price,'Offer amount' %><span class="text-red-500">*</span>
                <%= form.text_field :price,id:"price",value: @car.offer[6].amount, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter Offer amount" %>
        </div>
        <div class="form-group">
            <%= form.label :Mileage,'Date' %><span class="text-red-500">*</span>
                <%= form.date_field :Mileage,id:"Mileage",value: @car.offer[6].date, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",placeholder: "Enter date"  %>
        </div>

        <div class="form-group hidden_field">
            <%= form.label :car_id %>
            <%= form.hidden_field :car_id, class: "block shadow-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: params[:car_id], disabled: true %>
        </div>
        
       <% end %>













            </div>              
        </div> 







            






                <%= form_with url: "/cars",id: "silimar31112",class: "contents", method: :get do |form| %>
                    <br />
                    <div class="inline">
                    <%= form.button "Update" ,id: "create_cars",class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
                    </div>
                 <% end %>

                                   
                                   
                                   <script>
$(document).ready(function(){
  $("#create_cars").click(function(e){  
    console.log('working')
e.preventDefault();
    $.ajax({
        url: "/cars/<%= params['id'] %>",
        data: {
            car: {
                name: $("#name").val(),
                phone: $("#phone").val(),
                model: $("#model").val(),
                year: $("#year").val(),
                make: $("#make").val(),

                body: $("#car_body :selected").val(),
                vin: $("#vin").val(),
                miles: $("#miles").val(),
                zipcode: $("#zipcode").val(),
                
                email_inq: $("#email_inq").val(),
                phone_inq: $("#phone_inq").val(),
                listing_save: $("#listing_save").val(),
                listing_view: $("#listing_view").val()


             }
        },
        error: function(error) {
            console.log("error",error);
        },
        success: function(data) {
            console.log("Data",data);

            for(let i=1;i<=7;i++){
                let car_offer_id=$("#offer"+i+" #car_compares_id").val()


                $.ajax({
                    url: "/cars/<%= params['id'] %>/car_offers/"+car_offer_id,
                    data: {
                        
                            name: $("#offer"+i+" #days").val(),
                            amount: $("#offer"+i+" #price").val(),
                            date: $("#offer"+i +" #Mileage").val(),
                            car_id: data.data.id ,
                    },
                    error: function(error) {
                        console.log("error12",error);
                    },
                    success: function(data) {
                        if(i==7){
                        setTimeout(function () {
                                window.location.href = "/cars";

                             }, 250);
                        }
                        console.log("Data121",data);
                    },
                    type: 'PATCH'
                })
            }
           
        










        },
        type: 'PATCH'
    });


  });
});
</script>


