
 <style type="text/css">
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 body,p,*{
    font-family: 'Poppins', sans-serif;
 }
 
 
 .top-contentblock {
     padding-right: 30px;
 }
 
 p.greater {
     margin: 0;
 }
 
 .left-img {
     max-width: calc(100% - 280px);
     flex: 1;
     width: 100%;
 }
 img.mete_image {
    margin-right: 0;
    margin-left: auto;
}
 
 .content-block p {
     margin-bottom: 0;
 }
 
 .imageblock {
     max-width: 280px;
     text-align: right;
     width: 100%;
 }
 .container.inner-wrapper {
    padding: 50px 0 0;
}
 body>.container {
     max-width: 1170px;
 }
 
 .main-car {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     width: 100%;
     justify-content: flex-end;
     gap: 20px;
 }
 section.section-3-wrap {
    padding: 70px 0;
}
 .fees-meinsection {
     background: #fff;
     padding: 30px;
     box-shadow: 0 0 7px 0px rgb(0 0 0 / 3%);
     border-radius: 10px;
     margin-bottom: 20px;
 }
 
 .car-section .row {
     align-items: center;
 }
 
 .section-1-wrap img {
    width: 430px;
    margin-left: 0;
    margin-bottom: 20px;
}
 
 .section-1-wrap {
     border-bottom: 2px solid #ddd;
     padding: 40px 0 0;
 }
 .section-stats{
    padding: 40px 0;
 }
 .information ul {
     list-style: none;
     padding: 0;
 }
  
 .section-2-wrap {
     border-bottom: 2px solid #ddd;
 }
 
 .car-section img {
     width: 100px;
     height: 100px;
 }
 
 body {
     background: #f8f8f8;
     font-family: 'Poppins', sans-serif;
 }
 
 img.left-graph {
     width: 100%;
 }
 
 h2 {
     font-weight: 900;
 }
 
 .information {
     padding: 20px 0px 0;
 }
 
 .information ul.row li {
    padding-bottom: 25px;
    font-size: 20px;
}
 
 .information-blocks>div {
     max-width: 100%;
     width: 100%; 
 }
 
 .car-section img {
     width: 100%;
     height: 110px;
     object-fit: cover;
     border-radius: 0;
 } 
span.price-amount {
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.information-blocks-left .informations:not(:last-child) {
    margin-bottom: 25px;
}
.informations p {
    font-size: 24px;
}
.informations {
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    border-left: 100px solid;
    min-height: 130px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
 .information-blocks-left .informations.infosection2 {
     border-color: #b5d536;
 }
 
 .information-blocks-left .informations.infosection3 {
     border-color: #f55b43;
 }
 .section-1-inner {
    margin: 0;padding: 0;
}
 .information>h2 {
    margin-bottom: 20px;    font-weight: 700;
}
.informations.infosection1 {
    border-color: #0d76d6;
}
.piechart [class*="col-md"]:first-child {
    padding-right: 30px;
}
.piechart [class*="col-md"]:last-child {
    padding-left: 30px;
}
#  .information-blocks-right .informations.infosection2 {
#      border-color: #f5be30;
#  }
 
#  .information-blocks-right .informations.infosection1 {
#      border-color: #0d76d6;
#  }
 
#  .information-blocks-right .informations.infosection3 {
#      border-color: #881502;
#  }
 
 .information-blocks {
     gap: 20px;
 }
 span.price-amount {
    position: absolute;
    left: -85px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}.informations  p {
    margin: 0;
}

.informations p span {
    font-size: 26px;
    display: block;
    font-weight: 600;
    margin-bottom: 30px;
}
 .car-section h2 { 
     font-size: 20px;
     font-weight: 900;
     margin-bottom: 20px;
     text-align: left;
 }
  
 
 .information-blocks>div .informations:not(:last-child) {
     margin-bottom: 20px;
 }
 
 .inner-wrapper h2 {
     font-size: 28px;
     background: rgb(60, 122, 36);
     background: -moz-linear-gradient(85deg, rgba(60, 122, 36, 1) 0%, rgba(113, 211, 98, 1) 100%);
     background: -webkit-linear-gradient(85deg, rgba(60, 122, 36, 1) 0%, rgba(113, 211, 98, 1) 100%);
     background: linear-gradient(85deg, rgba(60, 122, 36, 1) 0%, rgba(113, 211, 98, 1) 100%);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#3c7a24", endColorstr="#71d362", GradientType=1);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;  
     display: inline-flex;
     margin: 0;
 }
 
 
 .content-block p strong {
     font-weight: 900;
 }
 
 section.market-information {
     margin: 0;
 }
 
 section.market-information .row {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 25px;
 }
 
 
 .comapare-details p {
    font-size: 16px;
    color: #91919b;
    margin-bottom: 10px;
}
 section.market-information .row .col-md-6 .top-contentblock h3 {
     font-size: 24px;
     font-weight: 900;
     display: inline-flex;
     margin: 0;
     line-height: 30px;
     background: rgb(46, 88, 128);
     background: -moz-linear-gradient(85deg, rgba(46, 88, 128, 1) 0%, rgba(184, 228, 255, 1) 100%);
     background: -webkit-linear-gradient(85deg, rgba(46, 88, 128, 1) 0%, rgba(184, 228, 255, 1) 100%);
     background: linear-gradient(85deg, rgba(46, 88, 128, 1) 0%, rgba(184, 228, 255, 1) 100%);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#2e5880", endColorstr="#b8e4ff", GradientType=1);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 section.market-information .row .col-md-6 .top-contentblock>p { 
    font-size: 18px;
    max-width: 350px;
}
.left-img p {
    font-size: 18px;
    line-height: normal;
}
section.market-information .row .col-md-6 .top-contentblock>p, .left-img p {
    margin-top: 5px;margin-bottom: 20px;line-height: normal;
}
 .bottom-block {
     background: #eff4fa;
     border-radius: 20px;
     padding: 15px;
     display: flex;
     align-items: center;
 }
 
 .bottom-block .content-info {
     width: 100%;
     max-width: calc(100% - 130px);
     padding-left: 30px;
 }
 
 .bottom-block .img-block img {
     width: 100%;
 }
 
 .bottom-block .img-block {
     width: 100%;
     max-width: 120px;
 }
 
 .bottom-block .content-info h3 {
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 0
 }
 
 .bottom-block .content-info p {
    font-size: 18px;
    margin-bottom: 0;
    font-family: "poppins";
    line-height: normal;
}
 
 .maing-container {
     padding: 40px 0;
 } 
 
 .inner-wrapper .row {
     align-items: center;
 }
 
 .right-content.text-right {
     text-align: right;
 }
 
 .piechart [class*="col-md"] h2 {
     padding-top: 90px;
     text-align: right;
     font-size: 20px;
     margin-bottom: 20px;
 }
 .content-block p {
    font-size: 20px;
    line-height: 1.5;
}
section.market-information .row .col-md-6 {
    padding: 30px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 7px 0px rgb(0 0 0 / 3%);
    min-height: 300px;
}
.car-section h2 {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: left;
    background: rgb(131,45,32);
    background: -moz-linear-gradient(90deg, rgba(131,45,32,1) 0%, rgba(218,87,87,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,45,32,1) 0%, rgba(218,87,87,1) 100%);
    background: linear-gradient(90deg, rgba(131,45,32,1) 0%, rgba(218,87,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#832d20",endColorstr="#da5757",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.content-block p.greater+p {
    max-width: 520px;
    font-size: 18px;
}
p.footer {
    text-align: right;
    font-size: 18px;
    font-family: poppins;
    color: #91919b;
    margin: 30px 0 20px;
    font-style: italic;
}
section.section-2-wrap .information .information {
    color: #91919b;
}
.section-1-inner p {
    margin-bottom: 10px;
    font-size: 24px;
    max-width: 1000px;
    line-height: 1.5;
} 
 
a.link_similar.list {
    text-decoration: none;
}




 
.d-flex.content_holder {
    max-width: calc(100% - 90px);
    justify-content: space-between;
    padding: 0 20px 0 0;
    align-items: center;
    width: 100%;
}

 
 
.additions > .d-flex {
    border-radius: 10px;
    border: 1px solid #ddd;
    gap: 20px;
    overflow: hidden;
    box-shadow: 0 1px 3px 2px rgb(0 0 0 / 5%);
    width: 100%;
    flex: 100%;
    max-width: calc(100%/2 - 20px);
    justify-content: space-between;
    padding: 0;
}
 
.number_holder {
    background: #eaf2fb;
    height: 100%;
    min-height: 60px;
    display: grid;
    width: 90px;
    place-items: center;
}
  
 
.content_holder i {
    color: #7d8497;
}
 
.row.additions {
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
    margin: 0;
}
.heading-holder h2 i {
    color: #406ae8;
    margin-left: 5px;
}
.heading-holder p {
    font-size: 24px;
    margin: 20px 0 40px;
    line-height: normal;
}
.bottom-text span {
    font-weight: 600;
}

.bottom-text {
    background: #fecea9;
    padding: 10px 60px 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
 /* Media Query Start */
@media (max-width: 1024px) {
    .container.inner-wrapper {
        max-width: 100%;
    }
    .imageblock {
        max-width: 100px;
    }
    .left-img {
        max-width: calc(100% - 100px);
    }
    .informations p {
    margin: 0;
    font-size: 18px;
}
}

@media (max-width: 991px) {
   .section-stats {
   padding: 40px 0 0;
}
    section.market-information .row {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .piechart [class*="col-md"] {
        width: 100%;
        max-width: 100%;
    }
    .main-car {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .piechart [class*="col-md"] h2 {
        padding-top: 50px;
        text-align: center
    }
    .piechart [class*="col-md"]:last-child {
    padding-left: 15px;
}
section.fees-meinsection .inner-wrapper [class*="col-md"] {
    width: 100%;
    max-width: 100%;
    flex: 100%;
}
}

@media (max-width: 767px) {
    .content-block p {
    font-size: 18px; 
}
    .section-1-inner p,.heading-holder p {
        font-size: 14px;
    }
    .additions > .d-flex{
        max-width: 100%;
    }
.row.additions { 
    gap: 20px;
}
    section.market-information .row .col-md-6 .top-contentblock h3,
    h2,
    .inner-wrapper h2 {
        font-size: 20px;
    }
    .informations p span {
        font-size: 18px;
    }
    .information-blocks>div {
        max-width: 100%;
        width: 100%;
        flex: 100%;
    }
    .information-blocks {
        flex-wrap: wrap;
    }
    .piechart [class*="col-md"] h2 {
        padding-top: 30px;
    }
    .main-car {
        grid-template-columns: repeat(1, 1fr);
    }
    .bottom-block .img-block {
        max-width: 60px;
        margin: 0 auto;
    }
    .left-img {
        max-width: calc(100% - 60px);
    }
    
   .fees-meinsection {
        padding: 20px;
    }
    .top-contentblock {
        padding-right: 0;
    }
    .bottom-block .content-info {
        padding-left: 0;
        max-width: 100%;
        padding-top: 10px;
    }
    .information ul.row li,.left-img p,section.market-information .row .col-md-6 .top-contentblock>p {
        font-size: 16px;
        line-height: normal;
    }
    section.market-information .row .col-md-6 .top-contentblock>p strong {
        width: 100%;
    }
    .imageblock {
        max-width: 60px;
    }
    section.market-information .row .col-md-6 {
        padding: 20px;
    }
    .right-content.text-right {
        padding-top: 20px;
    }
    .information ul.row li {
        padding-bottom: 5px; 
    }
    .information .information {
   padding: 10px 0px;
}
.information ul.row li {
   max-width: calc(100%/2);
}

.bottom-text { 
    padding: 10px;
}
section.section-3-wrap {
    padding: 30px 0;
}
span.price-amount{
    left: -65px;  font-size: 22px;
}
.informations { 
    border-left: 80px solid;  
}
.container.inner-wrapper{
    padding: 0 15px;
}
}


</style>

<div class="container">
        <section class="section-1-wrap">
            <div class="container">
               <div class="row">
                <div class="section-1-inner">
                   <img src="/assets/logo1.jpeg">
                </div> 
                <div class="section-1-inner"> 
                    <p>PostYourCars aggregates industry leading data points to give you the best value
                    estimates for any car</p>
                </div>
               </div>
            </div>
        </section>
        <section class="section-2-wrap">
            <div class="information">
                <h2>Information</h2>
                <ul class="row">
                    <li class="col-md-4 col-sm-6"><b>Name</b> <br /> <div class="information"><%= @car.name %></div> </li>
                    <li class="col-md-4 col-sm-6"><b>Phone No</b> <br /> <div class="information"> <%= number_to_phone(@car.phone, area_code: true)  %> </div></li>
                    <li class="col-md-4 col-sm-6"><b>Model</b> <br /> <div class="information"> <%= @car.model %> </div></li>
                    <li class="col-md-4 col-sm-6"><b>Year</b> <br /> <div class="information"> <%= @car.year %> </div> </li>
                    <li class="col-md-4 col-sm-6"><b>Make</b> <br /> <div class="information"> <%= @car.make %> </div></li>
                    <li class="col-md-4 col-sm-6"><b>Body</b> <br /> <div class="information"> <%= @car.body %> </div></li>
                    <li class="col-md-4 col-sm-6"><b>Vin #</b>  <br /> <div class="information"><%= @car.vin %></div></li>
                    <li class="col-md-4 col-sm-6"><b>Miles</b>  <br /> <div class="information"><%= @car.miles %></div></li>
                </ul>
            </div>
        </section>



          <section class="section-stats">
            <div class="container">
            <div class="heading-holder">
            <h2>Your Weekly Stats and Analytics <i class="fa-sharp fa-solid fa-chart-simple"></i>  
            </h2> 
            <p>A PostYourCars listing specialist has reviewed your listing and has some suggestions for you based on the data we have gathered.</p>
            </div>
               <div class="row additions"> 

                <div class="d-flex">

                    <div class="number_holder">
                        <span><%= @car.email_inq %></span>
                    </div>

                    <div class="d-flex content_holder">
                    <div>Emails enquires</div>
                    <div><i class='fa fa-envelope'></i></div>
                    </div>
               </div>

               <div class="d-flex">

               <div class="number_holder">
                   <span><%= @car.listing_save %></span>
               </div>

               <div class="d-flex content_holder">
               <div>Listing Saves</div>
               <div><i class='fa fa-download'></i></div>
               </div>
          </div>

          <div class="d-flex">

          <div class="number_holder">
              <span><%= @car.phone_inq %></span>
          </div>

          <div class="d-flex content_holder">
          <div>Phone Inquires</div>
          <div><i class='fa fa-phone'></i></div>
          </div>
     </div>

     <div class="d-flex">

     <div class="number_holder">
         <span><%= @car.listing_view %></span>
     </div>

     <div class="d-flex content_holder">
     <div>Listing Views</div>
     <div> <i class="fa-solid fa-eye"></i></div>
     </div>
</div>
               
               </div>
            </div>
        </section>







        <!-- purchase_offer section -->
        <section class="fees-meinsection purchase_offer">
            <div class="inner-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-block">
                            <h2>purchase offer</h2>
                            <p>These are the most recent offers we have recived on your car at its current listing price.</p>
                        </div>
                    </div>

                 </div>
                 <div class="offer_lists">

                 <% @car.offer.limit(3).each do |car| %>
                    <div class="offer_main">
                        <div class="name"><%= car.name %></div>
                        <div class="offered_amount">Offered: <span class="price_amount">$ <%= car.amount %></span> </div>
                        <div class="offer_date"><%= car.date %> </div>
                    </div>
                    <% end %>


                   <!-- 
                    <div class="offer_main">
                        <div class="name">someone in Seattle WA</div>
                        <div class="offered_amount">Offered: <span class="price_amount">$172,000</span> </div>
                        <div class="offer_date">January, 2nd</div>
                    </div>
                    <div class="offer_main">
                        <div class="name">someone in Seattle WA</div>
                        <div class="offered_amount">Offered: <span class="price_amount">$172,000</span> </div>
                        <div class="offer_date">January, 2nd</div>
                    </div> -->
                </div>
            </div>
        </section>







        <!-- Listing Performance section -->
        <section class="fees-meinsection performance_listing">
            <div class="inner-wrapper">
                <div class="row">
                    <div class="col-md-12">
                    <div class="content-block">
                    <div class="left-col">
                        <h2>Listing Performance</h2>
                    <p>Your listing is performing below average when compared to similar listings.</p>
                        <br>
                    <p>- This listing is less likely to sell in its current state. Consider price as the main factor that is hurting your sales potential</p>
                    </div>
                    <div class="right-col">
                      <img src="/assets/Artboard.svg">
                    </div>
                </div>
                    </div>

                 </div>
                 
            </div>
        </section>




        <!-- similar listing section -->
        <section class="fees-meinsection similar_listing">
            <div class="inner-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-block">
                            <h2>Similar Listing</h2>
                            <p>These listings were gathered from the web.Consider that your potential buyers will likely compare your car with these.</p>
                        </div>
                    </div>

                 </div>
                 <div class="offer_lists">

                 <% @car.car_compare.limit(3).each do |car| %>
                    <div class="car-section col-md-4 ">
                          <a href="<%= car.url %>" class="link_similar list" target="_blank" >Listing Link </a>
                    </div>
                    <% end %>
                   
                </div>
            </div>
        </section>



        <section class="fees-meinsection last_section">
            <div class="row">
            <h2>What you can do to improve your listing?</h2>
                <div class="content-block">
                    <div class="content_section_1">
                        <h2>Consider a  Price Adjustment</h2>
                        <p>super charge your listing by droping the price and attracting new potential buyers.</p>
                    </div>
                     <div class="content_section_1">
                        <h2>Additional Information</h2>
                        <p>super charge your listing by droping the price and attracting new potential buyers.</p>
                    </div>
                    <div class="content_section_1">
                        <h2>Photos</h2>
                        <p>super charge your listing by droping the price and attracting new potential buyers.</p>
                   </div>
                </div>
            </div>

        </section>






        <div class="footer-section">
        <p class="footer">* Sale timeframes and price projections are only estimates and not guaranteed by PostYourCars</p>
        </div>
    </div>
   






















